body {
  background: url(fone.jpg);
  color: rgb(26, 255, 0);
  font-family: sans-serif;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
}
p {
  font-size: 50px;
  display: block;
  margin: 0 auto;
  width: 80%;
}
h5 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
}
